{{template "header"}}
{{template "nav"}}

<h2>Users</h2>

<h3>Total Count {{.TotalCount}}</h3>

<ul>
    {{range .ThemesByCount}}
      <li>
        <a href="{{$.Domain}}/theme/{{.Theme}}">
          {{.Theme}}
        </a>
          | {{.Count}}
      </li>
    {{end}}
</ul>
