{{template "header" .}}
{{template "nav" .}}

<h2>Name: {{ .Name }}</h2>
<h2>Cost: {{ .Cost }}</h2>

  <figure>
      <!-- <figcaption>Sample Command:</figcaption> -->
      <audio
          controls
          src="https://beginworld.us-east-1.linodeobjects.com/media/{{ .Filename }}">
              Your browser does not support the
              <code>audio</code> element.
      </audio>
  </figure>

  <h2>Owners</h2>

  <ul>
    {{ range .Owners }}
      <li>
        <a href="{{$.Domain}}/users/{{.}}{{$.Extension}}"> {{.}} </a> 
      </li>
    {{ end }}
  </ul>

</html>
