{{template "header" .}}
{{template "nav" .}}

<h2>Commands</h2>

  {{ range .Commands }}

      <figure style="float:left;">
          <figcaption>
        <a href="{{$.Domain}}/commands/{{.Name}}{{$.Extension}}">
          {{ .Name }}
        </a> - Cost: {{ .Cost }}
          </figcaption>
          <audio
              controls
              src="https://beginworld.us-east-1.linodeobjects.com/media/{{ .Filename }}">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
      </figure>

  {{ end }}
