{{template "header" .}}
{{template "nav" .}}

<h3>Help</h3>

<h4>Twitch Chat Basic Commands</h4>

<div>
  <p>
    Request to build your website to see your stats (reload if it isn't working,
    we've hired some new interns who are slower)
  </p>
  <br />
  <code>
    !me
  </code>
</div>

<hr />

<div>
  <p>
    You earn street cred (every 5 minutes) for chatting, the only thing you can
    do with the street cred is give it to someone else in the chat with !props
  </p>
  <br />
  <code>
    !props @username
    <br />
    !props 10
  </code>
</div>

<hr />

<div>
  <p>
    Once a user gives You props, the street Cred is converted to Cool Points
    which you can spend with buy.
  </p>
  <br />
  <code>
    !buy
    <br />
    !buy command_name
    <br />
    !buy 10
  </code>
</div>

<hr />

<div>
  <p>
  You can love 1 more person that loves you.
  If 0 people love you, you can love 1 person.
  If 1 person loves you, you can love 2 people.

  The more people that love you, the more Mana and Street Credw
  you can dropped every 5 minutes.

  You !love to add loves, !hate to remove them.
  </p>
  <br />
  <code>
    !love @user
    <br />
    !hate @user
  </code>
</div>
