<!DOCTYPE html>
<head>
  <title>New Jester! - Beginworld</title>

  <!-- Necessary for utf-8 encoding -->
  <meta charset="utf-8" />

  <!-- <link rel="stylesheet" type="text/css" href="https://mygeoangelfirespace.city/styles/style.css"> -->
  <!-- <meta charset="utf-8" http-equiv="refresh" content="1" /> -->
  <style>
    body {
      color: white;
      font-weight: bold;
      background-color: transparent;
      font-size: 1.3em;
      font-family: monospace;
    }

    h1 {
      color: #fff;
    }

    ul {
      list-style: none;
      grid-gap: 16px;
      padding: 0;
    }

    li {
      padding: 16px;
      display: inline-block;
    }
  </style>

  <script>
    window.onload = () => {
      const randomColor = () => {
        return Math.random() * 360;
      };

      const setColor = (element) =>
        (element.style.color = `hsl(${randomColor()}, 100%, 80%)`);

      document.querySelectorAll("li").forEach(setColor);
    };
  </script>
</head>

<body class="Jester">
  <h1>NEW JESTER {{ .Name }}</h1>

  <h2>Available Commands</h2>
  <ul>
    <li>!alerts</li>
    <li>!beginworld</li>
    <li>!h</li>
    <li>!highlight</li>
    <li>!j</li>
    <li>!k</li>
    <li>!l</li>
    <li>!pulse</li>
    <li>!pulseseal</li>
    <li>!reaction</li>
    <li>!rise</li>
    <li>!seal</li>
    <li>!spin</li>
    <li>!tallbegin</li>
    <li>!widebegin</li>
    <li>!zoomseal</li>
    <li>!bigbrainbegin</li>
    <li>!flipbegin</li>
    <li>!highlight</li>
    <li>!lbbegin</li>
    <li>!ltbegin</li>
    <li>!tlbegin</li>
    <li>!trbegin</li>
    <li>!blbegin</li>
    <li>!brbegin</li>
    <li>!normie</li>
    <li>!pulse</li>
    <li>!rise</li>
    <li>!rollbegin</li>
    <li>!rtbegin</li>
    <li>!spazzbegin</li>
    <li>!zoom2</li>
    <li>!zoom3</li>
    <li>!zoom4</li>
    <li>!zoombegin</li>
    <li>!zoomseal</li>
  </ul>
</body>
