{{template "header"}}
{{template "nav"}}

<div>Theme: {{.Theme}} | Count: {{.Count}}</div>

<ul>
  {{ range .VotesByUser }}
    <li>{{ .Username }} | {{ .Count }}</li>
  {{ end  }}
</ul>

<div style='color:{{.Color0}}'>Color0  {{.Color0}}</div>
<div style='color:{{.Color1}}'>Color1  {{.Color1}}</div>
<div style='color:{{.Color2}}'>Color2  {{.Color2}}</div>
<div style='color:{{.Color3}}'>Color3  {{.Color3}}</div>
<div style='color:{{.Color4}}'>Color4  {{.Color4}}</div>
<div style='color:{{.Color5}}'>Color5  {{.Color5}}</div>
<div style='color:{{.Color6}}'>Color6  {{.Color6}}</div>
<div style='color:{{.Color7}}'>Color7  {{.Color7}}</div>
<div style='color:{{.Color8}}'>Color8  {{.Color8}}</div>
<div style='color:{{.Color9}}'>Color9  {{.Color9}}</div>
<div style='color:{{.Color10}}'>Color10  {{.Color10}}</div>
<div style='color:{{.Color11}}'>Color11  {{.Color11}}</div>
<div style='color:{{.Color12}}'>Color12  {{.Color12}}</div>
<div style='color:{{.Color13}}'>Color13  {{.Color13}}</div>
<div style='color:{{.Color14}}'>Color14  {{.Color14}}</div>
<div style='color:{{.Color15}}'>Color15  {{.Color15}}</div>
