body {
  /* background-color: none..class{ */
  background:rgba(5,5,5,0.7);
  /* background: #000065; */
  background-image: url("https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/minecraft-creeper-face.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 2em;
  font-family: "Helvetica";
}
 
h1 {
  color: purple;
  text-align: absolute;
}
 
p {
  color: aquamarine;
  font-family: Comic Sans MS;
  font-style: bold;
}